.project-background{
    background-color: #171717;
    /* height: 100%; */
    padding-top: 90px;
    display: block;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

/* Card styling */
.card-background{
    background-color: #e4e4e4;
    height: 25rem !important;
    width: 15rem;
    border-radius:20px;
    display: flex;
    align-items: center;
    margin-left: 20%;
    box-shadow: 5px 10px #888888;
}
.nft-alignment{
    margin-top: -10rem;
}